<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terrain of Thought</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="background-color: #064a11;">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary" style="padding: 0%; border: 20px; border-style: solid; border-color: #3e5642">
            <div class="container-fluid" style="background-color: #3e5642;">
                <a class="navbar-brand" style="color: whitesmoke;" href="#">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" style="color: whitesmoke;" aria-current="page" href="#">About National Parks</a>
                        </li>
                            {{#if logged_in}}
                        <li class="nav-item">
                            <a class="nav-link" style="color: whitesmoke;" href="/">Log Out</a>
                        </li> 
                            {{else}}
                        <li class="nav-item">
                            <a class="nav-link" style="color: whitesmoke;" href="/login">Login</a>
                        </li>
                            {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
 {{{body}}}

 
</body>

</html>