{{!-- Grid page that displays image links to each park from the API --}}

<div style="margin-top: 100px;">
    <h1 id="loginpagetitle">Your trips</h1>

    {{#each parks as |park| }}

    <div class="grid-container">
        <div class='park-section'>
            <h4>{{park.name}}</h4>
         {{!-- <a href="/journal/{{park.id}}"> --}}
            <img class="park-image" src="/assets/{{park.filename}}" alt="park"></a>
        </div>
    </div>
        {{/each}}

 </div> 

<script src="/js/park.js"></script>
