<div>
  <img class="background-img" id="random-images" alt="random image" />
  <h1 class="title text-center">Terrain of Thought</h1>
  <h2 class="subtitle text-center">A National Park Digital Journal</h2>
</div>

<body style="background-color: #064a11;">
    <h1 id="loginpagetitle">Your trips</h1>

    <div class="grid-container">
        <div class="div2">2
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div3">3
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div4">4
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div5">5 
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div6">6
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div7">7
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div8">8
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div9">9
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div10">10
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div11">11
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div12">12
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div13">13
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div14">14
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div15">15
            <img src="./public/assets/park.png" alt="park">
        </div>
        <div class="div16">16
            <img src="./public/assets/park.png" alt="park">
        </div>
        </div>

<script src="./public/js/script.js"></script>

