{{!-- Landing page with title and random image background --}}

<div>
  <img class="background-img" id="random-images" alt="random image" />
  <h1 class="title text-center">Terrain of Thought</h1>
  <h2 class="subtitle text-center">A National Park Digital Journal</h2>
</div>

<script src="/js/script.js"></script>