.background-img {
    height: 100%;
    width: max-content;
    background-size: cover; 
}

.title {
    margin-top: -1000px;
    font-size: 150px;
    color: whitesmoke;
    text-shadow: 1px 1px 20px #000000;
    font-family: 'Vollkorn', serif;
    opacity: 75%;
}

.subtitle {
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 1px 1px 20px #000000;
    font-family: 'Vollkorn', serif;
    opacity: 75%;
}

.customnav {
    padding: 0%; 
    border: 20px; 
    border-style: solid; 
    border-color: #3e5642
}